@model InstagramMVC.Models.AccountModels.ChangePasswordModel
@{
    Layout = null;
}
<h2>Cмена пароля</h2>
@using (@Html.BeginForm())
{ 
<table>
    <tr>
        <td>
        Старый пароль:
        </td>
        <td>
        @Html.PasswordFor(x => x.OldPassword)
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
        @Html.ValidationMessageFor(x => x.OldPassword)
        </td>
    </tr>
    <tr>
        <td>
        Новый пароль:
        </td>
        <td>
        @Html.PasswordFor(x => x.NewPassword)
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
        @Html.ValidationMessageFor(x => x.NewPassword)
        </td>
    </tr>
    <tr>
        <td>
        Подтверждение пароля:
        </td>
        <td>
        @Html.PasswordFor(x => x.ConfirmPassword)
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <input type = "submit" value="Изменить" />
        </td>
    </tr>
</table>
}