@model InstagramMVC.Models.AccountModels.ChangePasswordModel
@{
    Layout = "_UserLayout.cshtml";
}
@using (Html.BeginProfilePanel((InstagramMVC.Models.NavModel.TabPanel)Session["PROFILEPANEL"], 5))
{
using (@Html.BeginForm("ChangePassword", "User"))
{ 
@Html.OperationOutput(TempData["result"])
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Старый пароль:</label>
            <div class="row">
                <div class="col-md-3">
                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.OldPassword)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Новый пароль:</label>
            <div class="row">
                <div class="col-md-3">
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Подтверждение пароля:</label>
            <div class="row">
                <div class="col-md-3">
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-1"><br />
        <input type="submit" class="form-control btn  btn-success" value="Изменить" />
        </div>
    </div>
</div>
}
}